/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

section {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.mainmenu {
  padding-top: 35px;
}
.mainmenu .wrapper {
  font-size: 0;
}
.mainmenu .wrapper h2, .mainmenu .wrapper .wrapper2, .mainmenu .wrapper .wrapper3 {
  display: inline-block;
}
.mainmenu .wrapper h2 {
  background-color: black;
  height: 42px;
  line-height: 42px;
  width: 42px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.mainmenu .wrapper h2 a {
  color: white;
}
.mainmenu .wrapper .wrapper2 {
  max-width: calc(50% - 42px);
  width: 100%;
  padding-top: 30px;
}
.mainmenu .wrapper .wrapper2 ul li {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  vertical-align: middle;
}
.mainmenu .wrapper .wrapper2 ul li a {
  margin: auto 20px auto 20px;
  color: grey;
}
.mainmenu .wrapper .wrapper3 {
  max-width: 50%;
  width: 100%;
  text-align: right;
  padding-top: 30px;
}
.mainmenu .wrapper .wrapper3 ul li {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: grey;
  vertical-align: middle;
}
.mainmenu .wrapper .wrapper3 ul li a {
  margin-right: 30px;
  color: grey;
}
.mainmenu .wrapper .wrapper3 ul li .login::before {
  content: url("../img/user.png");
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.mainmenu .wrapper .wrapper3 ul li .basket::before {
  content: url("../img/basket.png");
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.mainmenu .wrapper .wrapper3 ul li .login::after {
  content: "(logout)";
  color: #f78a43;
}
.mainmenu .wrapper .wrapper3 ul li input[type=text] {
  width: 206px;
  height: 42px;
  border: 2px solid grey;
  font-size: 12px;
  background-image: url("../img/search.png");
  background-position: 170px 10px;
  background-repeat: no-repeat;
  padding: 20px 20px 20px 20px;
}

.footer {
  margin-bottom: 100px;
}
.footer .wrapper {
  font-size: 0;
}
.footer .wrapper .collection, .footer .wrapper .site, .footer .wrapper .shop, .footer .wrapper .social {
  max-width: 25%;
  width: 100%;
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
}
.footer .wrapper h2 {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  margin-bottom: 20px;
}
.footer .wrapper ul, .footer .wrapper p {
  color: #383838;
  line-height: 20px;
}
.footer .wrapper ul li, .footer .wrapper p li {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  line-height: 20px;
}
.footer .wrapper ul li a, .footer .wrapper p li a {
  color: #383838;
}
.footer .wrapper .social img {
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.signup .wrapper h2 {
  margin-top: 140px;
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.signup .wrapper h3 {
  font-family: "Georgia";
  font-size: 18px;
  font-style: italic;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 54px;
}
.signup .wrapper .form {
  text-align: center;
}
.signup .wrapper .form input {
  max-width: 460px;
  width: 100%;
  height: 53px;
}
.signup .wrapper .form button {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  border: none;
  background-color: #f68236;
  color: white;
  width: 100px;
  height: 53px;
  text-align: center;
  margin-bottom: 140px;
  cursor: pointer;
}
.signup .bar {
  max-width: 1200px;
  height: 116px;
  background-color: #bbbbbb;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}
.signup .bar .leftarrow, .signup .bar .rightarrow {
  display: inline-block;
  cursor: pointer;
}
.signup .bar .leftarrow {
  position: absolute;
  padding-top: 40px;
}
.signup .bar .rightarrow {
  position: absolute;
  right: 0px;
  padding-top: 40px;
}