.accordion{
  padding-top: 60px;
  
  .wrapper{

    #accordion{
      h3{
        background-color: #f68236;
        font-weight: bold;
        font-family: $primary-font;;

      }

      p{
        font-family: $secondary-font;;
      }

    }

}
}