.checkyourlookbook{
  padding-top: 60px;
  
  .wrapper{
    height: 125px;
    
      h2{
      color: #606060;
      font-family: $secondary-font;
      font-size: 24px;
      font-style: italic;
      text-align: center;
      padding-top: 57.5px;
      border-top: 1px #e5e5e5 solid;
    }

  }
  
}