.clothes{

  padding-top: 60px;
  padding-bottom: 160px;

  .wrapper{

      h3{
        color: #000;
        font-family: $primary-font;
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        margin-top: 68px;
      }

      h4{
        text-align: center;
        margin-top: 20px;
        & ::after{
          content: url(../img/shape1.png);
          padding-left: 10px;
        }
      }

      h4 a{
        color:#383838;
        font-family: $secondary-font;
        font-style: italic;
        font-size: 18px;    
      }
    
    
    .clothes_row {
      display: flex;
      padding-top: 66px;
      justify-content: space-around;
      @include mq (0, 1024px){
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .clothes_row .cloth{
      @include mq (0, 1024px){
        margin: auto auto;
      }


    }

    .clothes_row .cloth h2{
      text-align: center;
      line-height: 30px;
      color: #383838;
      font-family: $primary-font;
      font-weight: bold;
      font-size: 14px;
    }

    .clothes_row .cloth img{
      max-width:207px;
      width: 100%;
      max-height: 255px;
      height: 100%;
      background-size: cover;
      cursor: pointer;
    }
  }
}