
.grid {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;    
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 298px 298px 298px;
    padding: 10px;
    @include mq(0, 1200px) {
      grid-template-columns: 200px 200px 200px 200px;
      grid-template-rows: 198px 198px 198px;
      
    }

    @include mq(0, 800px) {
      grid-template-columns: 100px 100px 100px 100px;
      grid-template-rows: 98px 98px 98px;
    }

    @include mq(320px, 800px) {
      grid-template-columns: 80px 80px 80px 80px;
      grid-template-rows: 98px 98px 98px;
    }
    
  
  .grid-item1 {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #d2d2d2;
    color: white;
        
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    li:nth-child(2){
      font-style: $secondary-font;
      font-size: 18px;
      font-style: italic;
      font-weight: normal;
      @include mq(0, 800px) {
        font-size: 8px;
      }
    }

    @include mq(0, 800px) {
      font-size: 14px;
    }
    
    
  }

  .grid-item2 {
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
    background-color: #bbbbbb;
    font-family: $secondary-font;
    font-style: italic;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include mq(0, 800px) {
      font-size: 7px;
      line-height: 10px;
    }
  }

  .grid-item3 {
    background-color: #dbdbdb;
  }

  .grid-item4 {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #606060;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include mq(0, 800px) {
      font-size: 14px;
    }

    li:nth-child(2){
      font-style: $secondary-font;
      font-size: 18px;
      font-style: italic;
      font-weight: normal;

      @include mq(0, 800px) {
        font-size: 8px;
      }
    }
    
  }

  .grid-item5 {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #cacaca;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include mq(0, 800px) {
      font-size: 14px;
    }

    li:nth-child(2){
      font-style: $secondary-font;
      font-size: 18px;
      font-style: italic;
      font-weight: normal;

      @include mq(0, 800px) {
        font-size: 8px;
      }
    }
    
  }

  .grid-item6 {
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
    background-color: #bbbbbb;
    font-family: $secondary-font;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include mq(0, 800px) {
      font-size: 7px;
      line-height: 10px;
    }
    
  }

  .grid-item7 {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #d7d7d7;
    font-family: $primary-font;
    font-style: bold;
    color: white;

    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include mq(0, 800px) {
      font-size: 14px;
    }

    li:nth-child(2){
      font-style: $secondary-font;
      font-size: 18px;
      font-style: italic;
      font-weight: normal;

      @include mq(0, 800px) {
        font-size: 8px;
      }
    }
    
  }

  .grid-item8 {
    background-color: #c2c2c2;
  }

  .grid-item9 {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #606060;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include mq(0, 800px) {
      font-size: 14px;
    }

    li:nth-child(2){
      font-style: $secondary-font;
      font-size: 18px;
      font-style: italic;
      font-weight: normal;

      @include mq(0, 800px) {
        font-size: 8px;
      }
    }
    
  }

  .grid-item10 {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #d0d0d0;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include mq(0, 800px) {
      font-size: 14px;
    }

    li:nth-child(2){
      font-style: $secondary-font;
      font-size: 18px;
      font-style: italic;
      font-weight: normal;

      @include mq(0, 800px) {
        font-size: 8px;
      }
    }
    
  }
}
