.mainmenu{
    padding-top: 35px;
    .wrapper{
        font-size: 0;

        h2, .wrapper2, .wrapper3{
            display: inline-block;
        }

        h2{
            background-color: black;
            height: 42px;
            line-height: 42px;
            width: 42px;
            font-family: $primary-font;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            a{
                color: white;
            }
        }
           
        .wrapper2{
            
            max-width: calc(50% - 42px);
            width: 100%;
            padding-top: 30px;
            
            ul{
                li{
                    display: inline-block;
                    font-family: $primary-font;
                    font-size: 14px;
                    vertical-align: middle;
                    a{
                        margin: auto 20px auto 20px;
                        color: grey;
                    }
                }

            }   
        }
        
        .wrapper3{
            
            max-width: 50%;
            width: 100%;
            text-align: right;
            padding-top: 30px;
                   
            
            ul{
                li{
                    display: inline-block;
                    font-family: $primary-font;
                    font-size: 14px;
                    color: grey;
                    vertical-align: middle;
                    
                     a{
                        margin-right: 30px;
                        color: grey;
                    }
                    & .login::before{
                        content: url("../img/user.png");
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                    & .basket::before{
                        content: url("../img/basket.png");
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: middle;
                    }

                    & .login::after{
                        content: ('(logout)');
                        color:#f78a43;
                    }

                    input[type=text] {
                        width: 206px;
                        height: 42px;
                        border: 2px solid grey;
                        font-size: 12px;
                        background-image: url('../img/search.png');
                        background-position: 170px 10px; 
                        background-repeat: no-repeat;
                        padding: 20px 20px 20px 20px;
                    }
                   
                }
            }
           
        }

    
    }
}