.mainmenu{
    padding-top: 35px;
    .wrapper{
        font-size: 0;

        h2, .wrapper2, .wrapper3{
            display: inline-block;
        }

        .burger{
            background-color: black;
            height: 42px;
            line-height: 42px;
            width: 42px;
            font-family: $primary-font;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            color: white;
        
        }
           
        .wrapper2{
            
            max-width: calc(70% - 42px);
            width: 100%;
            padding-top: 30px;

            @include mq(0, 800px) {
                position: absolute;
                left: 0;
                height: 12vh;
                top: 92px;
                background-color: white;
                align-items: center;
                justify-content: space-around;
                width: 50%;
                transform: translateX(10%);
                transition: transform 0.5s ease-in;
                line-height: 20px;
                
            }
            
            ul{
                li{
                    display: inline-block;
                    font-family: $primary-font;
                    font-size: 14px;
                    vertical-align: middle;

                @include mq(0, 800px) {
                    display: flex;
                    flex-direction: column;
                }
                    
                    a{
                        margin: auto 20px auto 20px;
                        color: grey;
                    }
                }

            }
        }
        
        .wrapper3{
            
            max-width: 30%;
            width: 100%;
            text-align: right;
            padding-top: 30px;

            @include mq(0, 800px) {
				max-width: calc(100% - 42px);
                width: 100%;
			}

            ul{
                li{
                    display: inline-block;
                    font-family: $primary-font;
                    font-size: 14px;
                    color: grey;
                    vertical-align: middle;
                    
                     a{
                        margin-left: 20px;
                        color: grey;
                    }
                    & .login::before{
                        content: url("../img/user.png");
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                    & .basket::before{
                        content: url("../img/basket.png");
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                   
                }
            }
           
        }

    
    }
}
