.mainmenu{
    padding-top: 35px;
    
    .wrapper{
        font-size: 0;
        display: flex;

        h2, .wrapper2, .wrapper3{
            display: flex;
        }

        h2{
            background-color: black;
            height: 42px;
            width: 42px;
            font-family: $primary-font;
            font-size: 14px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: white;
        }
           
        .wrapper2{
            max-width: calc(70% - 42px);
            width: 100%;
            align-items: center;
            padding-left: 100px;
            padding-right: 100px;
        }

        .wrapper2{
            @include mq(0, 1024px) {
                max-width: calc(60% - 42px);
                width: 100%;
                padding-left: 15px;
                padding-right: 0px;
            }
        }

        .wrapper2 ul{
            display:flex;
        }        

        .wrapper2 ul{
            @include mq(0, 1024px) {
                flex-direction: column;
            }
        }

        .wrapper2 li a{
            font-family: $primary-font;
            font-size: 14px;
            padding-left: 20px;
            padding-right: 20px;
            color: grey;
        }
        
        .wrapper2 li{
            @include mq(0, 1024px) {
                padding-top: 20px;
            }
        }
        
        .wrapper3{
            max-width: 30%;
            width: 100%;
            justify-content: flex-end;
        }

        .wrapper3{
            @include mq(0, 1024px) {
                max-width: 40%;
                width: 100%;
            }
        }

        .wrapper3 ul{
            display:flex;
            align-items: center;
        }
        
        .wrapper3 ul{
            @include mq(0, 1024px) {
                flex-direction: column;
            }
        }
        
        .wrapper3 li{
            @include mq(0, 1024px) {
                padding-top: 20px;
            }
        }
        
        .wrapper3 li a{ 
            font-family: $primary-font;
            font-size: 14px;
            padding-left: 20px;
            color: grey;
        }  
        
        .wrapper3 li a{
            @include mq(0, 1024px) {
                padding-left: 0px;
            }
        }

        .wrapper3 ul li a img{
            border: 1px solid grey;
            padding: 10px 10px;
        }

        & .login::before{
            content: url("../img/user.png");
            margin-right: 10px;
            vertical-align: middle;
        }

        & .basket::before{
            content: url("../img/basket.png");
            margin-right: 10px;
            vertical-align: middle;
        }

    }        
}