.mainmenu{
    
    .wrapper{
        font-size: 0;

        h2, .wrapper2, .wrapper3{

            display: inline-block;
            vertical-align: middle;

        }

        h2{
            color: white;
            background-color: black;
            height: 42px;
            line-height: 42px;
            width: 42px;
            font-family: $primary-font;
            font-size: 14px;
            margin: 35px auto auto 0px;
            text-align: center;
        }
           
        .wrapper2{
            
            max-width: calc(70% - 42px);
            width: 100%;
            padding-left: 58px;
            padding-top: 30px;
            
            ul{
                li{
                    display: inline-block;
                    font-family: $primary-font;
                    font-size: 14px;
                    vertical-align: middle;
                    a{
                        margin: auto 25px auto 25px;
                        color: grey;
                    }
                }

            }
            
    
        }

        .wrapper3{
            
            max-width: 30%;
            width: 100%;
            text-align: right;
            padding-top: 30px;
            
            ul{
                li{
                    display: inline-block;
                    font-family: $primary-font;
                    font-size: 14px;
                    color: grey;
                    vertical-align: middle;
                    a{
                        margin-left: 50px;
                        color: grey;
                    }
                }

            }
        }


    }
}