.signup2{
    .wrapper{

        margin-left: auto;
        margin-right: auto;
        max-width: 580px;
        width: 100%;

        #topic{
            display: block;
            max-width: 580px;
            width: 100%;
            padding: 10px 20px;
            cursor: pointer;
            margin-bottom: 45px;
        }

        .line{
            display: flex;
            margin-bottom: 45px;
            .form1{
                max-width: 290px;
                width: 100%;
                input{
                    width: 280px;
                    padding: 10px 20px;
                }
            }

            .form2{
                max-width: 290px;
                width: 100%;  
                margin-left: 20px;         
                input{
                    width: 280px;
                    padding: 10px 20px;
                    margin-right: 0;
                }
            }
        }

        .form3{
            max-width: 580px;
            width: 100%;
            margin-bottom: 45px;

            input{
                width: 580px;
                padding: 10px 20px;
            }
        }

            .form4{
                max-width: 580px;
                width: 100%;
                height: 300px;
                margin-bottom: 45px;
            }

            #botao{
                text-align: center;
                button{
                    font-family: "Lato", sans-serif;
                    font-size: 14px;
                    border: none;
                    background-color: #f68236;
                    color: white;
                    width: 193px;
                    height: 53px;
                    text-align: center;
                    margin-bottom: 145px;
                    cursor: pointer;
                }
            }
        
        
    }
    
    .bar{
        max-width: 1200px;
        height: 116px;
        background-color: #bbbbbb;
        margin:0 auto;
        position: relative;

        .leftarrow, .rightarrow{
            display: inline-block;
            cursor: pointer;
        }

        .leftarrow{
            position: absolute;
            padding-top: 40px;
        }

        .rightarrow{
            position: absolute;
            right:0px;
            padding-top: 40px;
        }
        margin-bottom: 50px;
    }

}